.serein-icon-wrap {
    border: 1px solid #f0f0f0;
    text-align: center;
    display: inline-block;
    width: 150px;
    padding: 20px 10px 10px 10px;
    cursor: pointer;
}
.serein-icon {
    font-size: 40px;
}