#root {
  position: fixed;
  width: 100%;
  min-height: 100%;
  display: flex;
}

.serein-nav {
  height: 100vh;
  width: 300px;
  min-width: 200px;
  border-right: 1px solid #f0f0f0;
  padding-top: 24px;
  overflow: scroll;

  li {
    list-style: none;
    height: 40px;
    text-align: left;
    padding-left: 50px;

    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}

.serein-container {
  flex: 1;
  padding: 24px 100px 100px 100px;
  height: 100vh;
  overflow: scroll;
}

.serein-footer {
  margin: 100px -100px 0 -100px;
  // margin-left: -100px;
  background-color: #333;
  width: calc(100% + 200px);
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;

  li {
    list-style: none;
    line-height: 40px;
    font-size: 20px;
    color: rgb(218, 218, 218);

    a {
      color: rgb(218, 218, 218);
    }
  }
}

.instruction {
  table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;

    thead {
      background: rgb(206, 206, 206);

      tr {
        height: 40px;

        th {
          padding-left: 8px;
        }
      }
    }

    tbody {
      tr {
        height: 35px;

        td {
          padding-left: 8px;
          border-bottom: 1px solid #f0f0f0;
          color: rgba(0, 0, 0, 0.774);
        }
      }
    }
  }
}

code {
  display: block;
  overflow-x: auto;
  background: rgba(206, 206, 206, 0.5) !important;
  border-radius: 8px;
  padding: 10px !important;
  color: rgba(0, 0, 0, 0.65) !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  font-family: "PingFang SC", "Microsoft Yahei", Arial, Helvetica, sans-serif !important;
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta-keyword,
.hljs-name,
.hljs-selector-tag {
  color: #568ff0;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  color: #ad3739 !important;
}
