@import "../../common/style/variable.scss";
@import "../../common/style/mixins.scss";
$serein-dialog: ".serein-dialog";
$serein-modal: ".serein-modal";

.fixedFull {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
#{$serein-dialog} {
  &-wrap {
    @extend .fixedFull;
  }
  &-mask {
    @extend .fixedFull;
    background: $mask-color;
    @include fadeEnter($duration: 200);
  }
  &-container {
    z-index: 100;
    width: 400px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    @include slideEnter($X: -50%, $Y: -30%, $duration: 200);
  }
  &-centered {
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -100%)!important;
  }

  &-close-btn {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    i {
      font-size: 18px;
    }
  }
  &-header {
    padding: 5px 0px 5px 20px;
    height: 40px;
    display: flex;
    align-items: center;
    span {
      flex: 1;
    }
  }
  &-content {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 10px 20px;
  }
  &-footer {
    padding: 10px 20px;
  }
}
#{$serein-modal} {
  &-footer {
    text-align: right;
  }
  &-ok {
  }
  &-cancel {
    margin-right: 8px;
  }
}

.serein-confirm {
  &-title {
    display: flex;
    align-items: center;
    height: 30px;
    span {
      font-size: 18px;
      font-weight: 600;
      margin-left: 10px;
    }
  }
  &-content {
    margin-left: 30px;
    font-size: 14px;
    margin-top: 8px;
    color: rgba(0,0,0,.65);
  }
  &-footer {
    margin: 10px;
    text-align: right;
  }
  &-icon {
    font-size: 20px;
  }
  &-error {
    color: $theme-danger-color;
  }
  &-warning {
    color: $theme-warning-color;
  }
  &-success {
    color: $theme-success-color;
  }
  &-info {
    color: $theme-primary-color;
  }
  &-confirm {
    color: $theme-warning-color;
  }
  &-btn-left {
    margin-right: 5px;
  }
}
