.serein-drag-list {
  background: #b9b4b4;
}
.serein-drag-item {
  height: 50px;
  border: 1px solid #333;
  list-style: none;
  text-align: center;
  margin: 5px;
  width: 400px;
  line-height: 50px;
  background: #999;
}
